<div class="card">
    <div class="card-header">Registruoti automobilį</div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Markė</label>
                <input type="text" class="form-control" name="mark" id="">
            </div>
            <div class="mb-3">
                <label class="form-label">Modelis</label>
                <input type="text" class="form-control" name="model" id="">
            </div>
            <div class="mb-3">
                <label class="form-label">Gamybos metai</label>
                <input type="number" class="form-control" name="year" id="">
            </div>
            <div class="mb-3">
                <label class="form-label">Registracijos numeris</label>
                <input type="text" class="form-control" name="regnumber" id="">
            </div>
            <div class="mb-3">
                <label class="form-label">Telefonas</label>
                <input type="text" class="form-control" name="phone" id="">
            </div>
            <button class="btn btn-success">Registruoti automobilį</button>
        </form>
    </div>
</div>